<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="menu" th:fragment="left-menu">

    <div class="mini-menu">

        <ul class="list-unstyled components">
            <li class="sub-menu active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">KATALOG KSIĄŻEK</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="/library">LITERATURA</a></li>
                    <li><a href="/library">DLA DZIECI</a></li>
                    <li><a href="/library">DLA MŁODZIEŻY</a></li>
                    <li><a href="/library">HISTORIA</a></li>
                    <li><a href="/library">FILOZOFIA</a></li>
                    <li><a href="/library">KOMIKS</a></li>
                </ul>
            </li>
            <li>
                <a href="#">PROMOCJE</a>
            </li>
            <li>
                <a href="#">BESTSELLERY</a>
            </li>
        </ul>
    </div>

</div>