<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Adding Book</title>
    <header th:replace="master/header :: header"> </header>
</head>

<body>

    <header id="header" class="alt" th:include="master/menu :: title-menu" />

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" th:object="${book}" th:action="@{/addBook}" method="post">
                        <fieldset>
                            <legend class="text-center">Dodawanie książki</legend>

                            <input type="hidden" name="id" th:value="*{id}" />

                            <div class="form-group">
                                <label class="col-md-3 control-label">Tytuł</label>
                                <div class="col-md-9">
                                    <input th:field="*{title}" th:value="*{title}" type="text" placeholder="Tytuł" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Autor</label>
                                <div class="col-md-9">
                                    <input th:field="*{author}" th:value="*{author}" type="text" placeholder="Autor" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Kod ISBN</label>
                                <div class="col-md-9">
                                    <input th:field="*{isbn}" th:value="*{isbn}" type="text" placeholder="ISBN" class="form-control" required>
                                </div>
                            </div>
                            
							<div class="form-group">
                                <label class="col-md-3 control-label">Cena</label>
                                <div class="col-md-9">
                                    <input th:field="*{price}" th:value="*{price}" type="number" class="form-control" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">Link do zdjęcia</label>
                                <div class="col-md-9">
                                    <input th:field="*{imageSrc}" th:value="*{imageSrc}" type="text" placeholder="Img src" class="form-control" required>
                                </div>
                            </div>

                            <br>
                            <br>
                            <legend>Wydawnictwo</legend>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Nazwa wydawnictwa</label>
                                <div class="col-md-9">
                                    <input th:field="*{publisher.name}" th:value="*{publisher.name}" type="text" placeholder="Nazwa wydawnictwa" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Rok załóżenia</label>
                                <div class="col-md-9">
                                    <input th:field="*{publisher.founded}" th:value="*{publisher.founded}" type="text" placeholder="Rok założenia" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Lokalizacja</label>
                                <div class="col-md-9">
                                    <input th:field="*{publisher.location}" th:value="*{publisher.location}" type="text" placeholder="Lokalizacja" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>