<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book List</title>
    <header th:replace="master/header :: header"> </header>
</head>

<body>

    <header id="header" class="alt" th:include="master/menu :: title-menu" />

    <div class="container">
        <div class="row">

        <a href="/addBook" class="btn btn-primary">Dodaj książkę</a>

        <legend>Lista książek</legend>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">ISBN</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            </tbody>
            <tbody th:each="book : ${list}" th:remove="tag">
            <tr>
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbn}"></td>
                <td>
                    <a th:href="@{('/editBook/'+${book.isbn})}" class="btn btn-outline-warning">Edytuj</a>
                    <a th:href="@{('/removeBook/'+${book.id})}" class="btn btn-outline-danger">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>

</body>
</html>