<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book List</title>
    <header th:replace="master/header :: header"> </header>
    <link th:href="@{../static/css/library.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <script th:src="@{../static/js/library-script.js}" type="text/javascript"></script>
</head>

<body>

    <header id="header" class="alt" th:replace="master/menu :: title-menu" />

    <div class="wrap">

        <div th:replace="master/lib-left-menu :: left-menu"></div>

        <div class="items">

            <div class="container">
                <div class="row">
                
                    <div class="col-md-5 img">
                        <img th:src="${book.imageSrc}" alt="img" class="img-rounded" style="max-width: 200px;" >
                    </div>
                    
                    <div class="col-md-7 details">
                    
                    	<div class="row">
    						<div class="col-sm">
    							<span style="font-weight: bold;">Cena: </span>
    							<span th:text="${book.price} + ' zł'"></span>
    						</div>
    						<div class="col-sm">
    							<button th:attr="onclick=|addToCard('${book.id}')|" class="btn btn-sm btn-info">
					              Do koszyka
					              <i class="fa fa-shopping-cart"></i>
					            </button>
    						</div>
                    	</div>
						<br/>
                    
                        <blockquote>
                            <h1 style="text-align: center;" th:text="${book.title}"></h1>
                        </blockquote>

                        <br>

                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-5">
                                <label style="font-weight:bold;">Autor</label>
                            </div>
                            <div class="col-md-8 col-6">
                                <span th:text="${book.author}"></span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-5">
                                <label style="font-weight:bold;">ISBN</label>
                            </div>
                            <div class="col-md-8 col-6">
                                <span th:text="${book.isbn}"></span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-5">
                                <label style="font-weight:bold;">Wydawnca</label>
                            </div>
                            <div class="col-md-8 col-6">
                                <span th:text="${book?.publisher?.name}"></span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-3 col-md-4 col-5">
                                <label style="font-weight:bold;">Lokalizacja</label>
                            </div>
                            <div class="col-md-8 col-6">
                                <span th:text="${book?.publisher?.location}"></span>
                            </div>
                        </div>
                        <hr/>

                    </div>
                </div>
            </div>

        </div>


    </div>

</body>

<script type="text/javascript">
	function addToCard(bookId) {
	        window.document.location.href = "/addToCard/" + bookId;
	}
	
</script>

</html>