<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book List</title>
    <header th:replace="master/header :: header"> </header>
    <link th:href="@{static/css/library.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <script th:src="@{static/js/library-script.js}" type="text/javascript"></script>
</head>

<body>

    <header id="header" class="alt" th:replace="master/menu :: title-menu" />

    <div class="wrap">

        <div th:replace="master/lib-left-menu :: left-menu"></div>

        <div class="items">

            <div class="items" th:each="book : ${list}" th:remove="tag">
                <div data-price="290" class="item">
                    <img th:src="${book.imageSrc}" alt="Image"  class="img-item" />
                    <div class="info">
                        <h3 th:text="${book.title}"></h3>
                        <p class="description" th:text="${book.author}"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

<script type="text/javascript">

</script>

</html>