<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book List</title>
    <header th:replace="master/header :: header"> </header>
    <link th:href="@{../static/css/shoppingCard.css}" rel="stylesheet" />
</head>
<style type="text/css">
	#btn-continue {
		width: 200px;
	    position: absolute;
	    margin-left: 60px;
	}
</style>
<body>

    <header id="header" class="alt" th:include="master/menu :: title-menu" />

    <div class="container">

		<div class="card">
			<table class="table table-hover shopping-cart-wrap">
				<thead class="text-muted">
					<tr>
					  <th scope="col">Produkt</th>
					  <th scope="col"></th>
					  <th scope="col" width="150">Ilość</th>
					  <th scope="col" width="130">Cena</th>
					  <th scope="col" width="130" class="text-right">Usuń</th>
					</tr>
				</thead>
				<tbody th:each="book : ${list}" th:remove="tag">
					<tr>
						<td>
							<img th:src="${book.imageSrc}" alt="Image" style="max-height: 100px;">
						</td>
						<td>
							<span th:text="${book.title}"></span> ( autor: <span th:text="${book.author}"></span> )
						</td>
						<td>
							<input type="text" class="form-control" value="1" style="width: 100px; text-align: center;" readonly />
						</td>
						<td> 
							<div class="price-wrap"> 
								<var class="price">20.50 zł</var> 
							</div>
						</td>
						<td class="text-right">  
							<button id="remove" class="btn btn-outline-danger"> × Remove</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h3>Suma:</h3></td>
                        <td class="text-right"><h3>31.53 zł</h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                        	<a href="/library" id="btn-continue" class="btn btn-outline-dark">
	                            <span class="fa fa-shopping-cart"></span> Kontynuuj zakupy
	                        </a>
                        </td>
                        <td><td>
                        <button type="button" class="btn btn-success">
                            Zamów <span class="fas fa-play"></span>
                        </button></td>
                    </tr>
                </tfoot>
			</table>
		</div>

    </div>

</body>

<script type="text/javascript">
	$( "[id=remove]" ).click(function() {
		$(this).parent().parent().remove()
	})
</script>
</html>