<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Intro to Redis with Spring Boot</title>
    <header th:replace="master/header :: header"> </header>
</head>

<body>

    <header id="header" class="alt" th:include="master/menu :: title-menu" />

    <div class="container">
        <div class="row">

        <legend>Lista użytkowników</legend>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">LOGIN</th>
                <th scope="col">IMIĘ</th>
                <th scope="col">NAZWISKO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            </tbody>
            <tbody th:each="user : ${userList}" th:remove="tag">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a href="#" class="btn btn-outline-warning">Zmień hasło</a>
                    <a href="#" class="btn btn-outline-danger">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>

</body>
</html>